
.login-sign-up-wrapper{
.btn-primary{
    background-color:#005DFF!important;
    border-color:#005DFF!important;;
}

.btn-primary:hover{
    background-color:#005DFF!important;;
    border-color:#005DFF!important;;  
}

.signup-link{
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: bottom;
}
p{
    margin-top: 12px;
}
}